<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ORDAL</string>
    <key>CFBundleDisplayName</key>
    <string>ORDAL</string>
    <key>CFBundleIdentifier</key>
    <string>com.ordal.app</string>
    <key>CFBundleVersion</key>
    <string>3.2.3</string>
    <key>CFBundleShortVersionString</key>
    <string>3.2.3</string>
    <key>CFBundleExecutable</key>
    <string>ORDAL</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>ordal</string>
    <key>CFBundleIconName</key>
    <string>ordal</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>ORDAL tidak menggunakan kamera.</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>ORDAL mengontrol Chrome via AppleScript untuk capture session platform.</string>
</dict>
</plist>
